# Function with no argument and no return type

In [ ]:

def greet():
    print("Hello, world!")

# Calling the function
greet()

Hello, world!

In [ ]:
import random
#module for generating random numbers

def generate_lottery_numbers():
    numbers = random.sample(range(1, 50), 6)
    #randomly returns a set of 6 random numbers in the given range
    numbers.sort()
    print("Lottery Numbers:", numbers)

# Calling the function
generate_lottery_numbers()

Lottery Numbers: [1, 9, 25, 38, 43, 46]

#Function with argument but no return type

In [ ]:
#function to check if a year is leap year or not
def leap_year(year):
  if (year%4==0)and(year%100!=0 or year%400==0)==1:#condition for determining leap year
    print(year ,' is a leap year')
  else:
    print(year ,' is not a leap year')

#calling the function
leap_year(2013)
leap_year(2023)

2013  is not a leap year
2023  is not a leap year

In [ ]:
#function to calculate the factorial of a number
def calculate_factorial(n):
    factorial = 1
    for i in range(1, n + 1): #iterate from 1 to n
        factorial *= i
    print("The factorial of", n, "is:", factorial)

# Calling the function
calculate_factorial(7)

The factorial of 7 is: 5040

#Function with argument and with return type

In [ ]:
#function to find the square of a number
def square(num):
    return num * num

# Calling the function
result = square(5)
print(result)

25

In [ ]:
#function to find the maximum of a set of numbers in a list
def find_maximum(numbers):
    if len(numbers) == 0:#empty list
        return None

    maximum = numbers[0]
    for num in numbers:
        if num > maximum:
            maximum = num

    return maximum

# Calling the function
numbers_list = [4, 9, 2, 7, 5]
max_num = find_maximum(numbers_list)
print("Maximum number:", max_num)

Maximum number: 9

#Function with no argument but a return type

In [ ]:
#function to return the current date and time
def get_current_time():
    import datetime
    current_time = datetime.datetime.now()
    return current_time

# Calling the function
current_time = get_current_time()
print("Current Time:", current_time)

Current Time: 2023-07-12 19:16:21.928959

In [ ]:
#function to genenerate fibanacci sequence
def generate_fibonacci_sequence():
    sequence = [0, 1]
    while len(sequence) < 10:
        next_number = sequence[-1] + sequence[-2]
        sequence.append(next_number)
    return sequence

# Calling the function
fibonacci_sequence = generate_fibonacci_sequence()
print("Fibonacci sequence:", fibonacci_sequence)

Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#Functions with multiple arguments and multiple return values

In [ ]:
def calculate_statistics(numbers):
    total = sum(numbers)
    average = total / len(numbers)
    maximum = max(numbers)
    minimum = min(numbers)
    return total, average, maximum, minimum

# Calling the function
data = [10, 5, 8, 12, 3]
total_sum, avg, max_val, min_val = calculate_statistics(data)
print("Total Sum:", total_sum)
print("Average:", avg)
print("Maximum Value:", max_val)
print("Minimum Value:", min_val)

Total Sum: 38
Average: 7.6
Maximum Value: 12
Minimum Value: 3

In [ ]:
#calculate the properties of a rectangle
def calculate_rectangle_properties(length, width):
    perimeter = 2 * (length + width)
    area = length * width
    diagonal = (length ** 2 + width ** 2) ** 0.5
    return perimeter, area, diagonal

# Calling the function
length_value = 5
width_value = 3
perimeter, area, diagonal = calculate_rectangle_properties(length_value, width_value)
print("Perimeter:", perimeter)
print("Area:", area)
print("Diagonal:", diagonal)

In [ ]:
#calculate simple interest
def simple_interest(principal,time_period,rate):
  interest=(principal*time_period*rate)/100
  return interest

#calling the function
s_interest=simple_interest(10000,2,5)
print(s_interest)

1000.0

#Functions with arbitary arguments

In [ ]:
def calculate_sum(*args):
    print(args)
    total = sum(args)
    return total

# Accepting user input
print('Enter the numbers')
numbers = input("Enter numbers separated by spaces: ").split()#used to split the input numbers into a list using space as a delimiter
numbers = [int(num) for num in numbers]#converting the numbers wich are strings into integers

# Calling the function
result = calculate_sum(*numbers)
print("Sum:", result)

Enter the numbers
Enter numbers separated by spaces: 1 2 3 4
(1, 2, 3, 4)
Sum: 10

#Function with arbitary keywords

In [ ]:
def print_person_info(**kwargs):
    print(kwargs)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Calling the function
print_person_info(name="Alice", age=25, occupation="Engineer")

{'name': 'Alice', 'age': 25, 'occupation': 'Engineer'}
name: Alice
age: 25
occupation: Engineer

In [ ]:
def student_info(*args,**kwargs):
  print(args)
  print(type(args))
  print(kwargs)

courses=['math','english']
info={'name':'alex','age':20}
student_info(*courses,**info)

('math', 'english')
<class 'tuple'>
{'name': 'alex', 'age': 20}

#Global Variable

In [ ]:
# Global variable
global_var = 10

def access_global_variable():
    # Accessing the global variable
    print("Global variable value:", global_var)

def modify_global_variable():
    # Modifying the global variable
    global global_var
    global_var = 20

# Accessing the global variable
print("Global variable value:", global_var)

# Modifying the global variable
modify_global_variable()

# Accessing the modified global variable
print("Modified global variable value:", global_var)

# Calling a function that accesses the global variable
access_global_variable()

Global variable value: 10
Modified global variable value: 20
Global variable value: 20

#Constants

In [ ]:
# Constants
PI = 3.14159
MAX_SIZE = 100

# Usage of constants
radius = 5
area = PI * radius ** 2
print("Area:", area)

if area > MAX_SIZE:
    print("The area is larger than the maximum size.")
else:
    print("The area is within the maximum size.")